<%- include('partials/header.ejs'); -%>

    <h1>Home</h1>

    <div>
    
    <a href="/users/login" class="btn">Login</a>
    <br>
    <a href="/users/register" class="btn">Sign up Personal Account</a>
    <br>
    <a href="/business/register" class="btn transparent">Sign up Business</a>


    <a href="/users/dashboard" class="button">users</a>
    <a href="/admin/dashboard" class="button">Admins</a>


    </div>


 <%- include('partials/footer.ejs'); -%>