<%- include('partials/header.ejs'); -%>

   

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                
                <!-- Sign in form / Login-->
                <form action="/users/login" class="sign-in-form">
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="bi bi-person"></i>
                        <input type="email" placeholder="Email" id="email" name="email" required>
                    </div>
                    <div class="input-field">
                        <i class="bi bi-lock"></i>
                        <input type="password" placeholder="password" id="password" name="password" required>
                    </div>
                    <input type="submit" value="Login" class="btn solid">
                    
                    <p class="social-text">Or Sign in with google</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="bi bi-google"></i>
                        </a>
                    </div>
                    <a href="/users/register">register here</a>
                </form>
                     
                <%# Sign up form / Register form %>
                <form action="/users/register" class="sign-up-form" method="post">
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="bi bi-person"></i>
                        <input type="text" placeholder="First Name" id="first_name" name="first_name" required>
                    </div>
                    <div class="input-field">
                        <i class="bi bi-person"></i>
                        <input type="text" placeholder="Last Name" id="last_name" name="last_name" required>
                    </div>
                    <div class="input-field">
                        <i class="bi bi-envelope"></i>
                        <input type="email" placeholder="Email" id="email" name="email" required >
                    </div>
                    <div class="input-field">
                        <i class="bi bi-telephone"></i>
                        <input type="tel" placeholder="Phone Number" id="phone_number" name="phone_number" required>
                    </div>
                    <div class="input-field">
                        <i class="bi bi-lock"></i>
                        <input type="password" placeholder="password" id="password" name="password" required>
                    </div>
                    <div class="input-field">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password" placeholder="Confirm password" id="password2" name="password2" required>
                    </div>
                    <input type="submit" value="Sign up" class="btn solid">
                    
                    <p class="social-text">Or Sign up with google</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="bi bi-google"></i>
                        </a>
                    </div>
                </form>

                <form action="" class="sign-up-business-form">
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="bi bi-briefcase"></i>
                        <input type="text" placeholder="Business Name">
                    </div>
                    <div class="input-field">
                        <i class="bi bi-buildings"></i>
                        <input type="text" placeholder="Industry">
                    </div>
                    <div class="input-field">
                        <i class="bi bi-envelope"></i>
                        <input type="text" placeholder="Business Email">
                    </div>
                    <div class="input-field">
                        <i class="bi bi-telephone"></i>
                        <input type="tel" placeholder="Business Telephone">
                    </div>
                    <div class="input-field">
                        <i class="bi bi-card-checklist"></i>
                        <input type="text-area" placeholder="Services">
                    </div>
                    <div class="input-field">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password" placeholder="Confirm password">
                    </div>
                    
                    <p class="social-text"><input type="checkbox" id="terms" name="terms" required>  I agree to the Terms and Conditions & Privacy Policy</p>

                    <input type="submit" value="Sign up" class="btn solid">
                    
                </form>

            </div>
        </div>

        <div class="panels-container">
           <div class="panel left-panel">
            <div class="content">
                <h3>New to BookMyExpert?</h3>
                <p>Join our community of experts and clients</p>
                <div class="sign-up-btns">
                <button class="btn transparent" id="sign-up-personal-btn">Sign up Personal Account</button>
                <button class="btn transparent" id="sign-up-business-btn">Sign up Business Account</button>
                </div>
            </div>

           </div>

           <div class="panel right-panel">
            <div class="content">
                <p>Connect with experts from various fields</p>
                <h3>Karibu to BookMyExpert!</h3>
                <button class="btn transparent" id="sign-in-btn">Sign in</button>
            </div>

           </div>
        </div>
    </div>

<%- include('partials/footer.ejs'); -%>